@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
a{
    text-decoration: none;
    color: #000;
}
.KA_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}
.box{
    width: 67.1%;
    margin-left: 16.4%;
    margin-right: 16.4%;
}
.KA_nav_photo{
    display: flex;
    align-items:center;
}
.KA_nav_logo{
    margin-right: 0.99%;
}
.KA_nav_navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    width: 24.7%;
    text-decoration: none;
    color: #000;
}
.KA_nav_button{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 8.1%;
    height: 54px;
    border-radius: 100px;
    background: linear-gradient(187.93deg, #FF1262 5.53%, #09263F 103.61%);
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
}
.KA_nav_button a{
    color: #fff;
}
.KA_about{
    height: 770px;
    background: url(/img/bgAbout.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#aboutBox{
    background-image: url(/img/book.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: unset;
    min-height: 770px;
    
}
.aboutTitle{
    padding-top: 95px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #ffffff;
}
.aboutSubTitle{
    margin-left: 8.7%;
    margin-top: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: #ffffff;
}
.aboutText{
    width: 36.45%;
    margin-top: 26px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff;
}
.aboutButton{
    width: 10.2%;
    height: 53.93px;
    border-radius: 100px;
    background-color: #ffffff;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.aboutButtonText{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    background: linear-gradient(0deg, #FF1262, #0F2B46, #D11478, #281AC8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}
.aboutcourse{
    background-image: url(/img/courseBackground.svg);
    background-repeat: no-repeat;
    background-position-x:315px;
    background-position-y: 50px;
    min-height: 627px;
}
.coursebutton{
    width: 20.1%;
    height: 103px;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(234, 24, 98, 0.2) 0%, rgba(254, 223, 238, 0.2) 97.4%);
    border-radius: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coursebuttonText{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 5px;
    background: linear-gradient(0deg, #CD185C, #0F2B46);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration:underline;
    text-decoration-color: linear-gradient(#F91663, #0F2B46);
    text-align: center;
}
.CourseText{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: space-evenly;
    margin-top: 104px;
}
.aboutCourseTitle{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    background: linear-gradient(0deg, #E41861, 80%, #0F2B46);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.aboutCourseSubTitle{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    background: #333333;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: space-around;
}
#courseKorean{
    margin-right: 15.5%;
}
#courseEnglish{
    margin-right: 10%;
    margin-top: 20px;
}
#courseChinese{
    margin-right: 6.875%;
    margin-top: 20px;
}
#courseInst{
    margin-right: 11.98%;
    margin-top: 20px;
}
.courseButton{
    width: 14%;
    height: 79px;
    background: linear-gradient(178.18deg, #C81759 37.46%, #252949 142.19%);
    border-radius: 144.444px;
    margin: 0 auto;
    margin-top: 47px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.courseButtontext{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
}
.Student{
    background-image: url(/img/studentBG.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.Student_block{
    width: 56%;
    height: 367px;
    margin-top: 80px;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: #ffffff;
}
.Student_block_header{
    display: flex;
}
.header_1{
    width: 15.67%;
    height: 95px;
    margin-top: 60px;
    margin-left: 6.667%;
    background: linear-gradient(178.18deg, #F41763 -13.56%, #0F2B46 158.3%);
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: #ffffff;
    text-align: center;
}
.header_2{
    display: flex;
    flex-direction: column;
    margin-left: 0.93%;
    margin-top: 58px;
}
.headedr_2_text{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    background: linear-gradient(180deg, #D31A5F, 40%, #0F2B46, #281AC8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header_2_subtext{
    font-size: 28px;
    color: #333333;
    margin-top: 10px;
    text-decoration: underline;
    text-decoration-color: #333333;
    text-decoration-thickness: 0.5px;
}
.Student{
    min-height: 833px;
}
.Student_block_info{
    display: flex;
    margin-left: 6.667%;
    margin-right: 6.667%;
    height: 367px;
    justify-content:space-between;
}
.students_header{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    background: linear-gradient( #F21863, #0F2B46);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.students_subheader{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}
.TOPIK_info{
    margin-top: 20px;
}
.univ_info{
    margin-top: 20px;
}
.Grand{
    margin-left: 16.45%;
    margin-right: 16.45%;
    margin-top: 48px;
    background-image: url(/img/grande.svg);
    background-repeat:no-repeat;
    background-position: right;
}
.Grand_header{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 1px;
    background: linear-gradient( #F21863, #0F2B46);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Grand_text{
    margin-top: 53px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #333333;
    width: 34.3%;
}
.Grand_text_bold{
    font-weight: 600;
}
.Grand_button{
    width: 10%;
    height: 66.04px;
    margin-top: 23px;
    margin-bottom: 59px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: #ffffff; 
    background: linear-gradient(178.18deg, #F31763 -13.56%, #0F2B46 158.3%);
    border-radius: 122.293px;
}
.Teacher{
    background-image: url(/img/TeacherBG.svg);
    background-repeat:no-repeat;
    background-position: top;
    margin-top: 76px;
    height: 696px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    background-size: cover;
}
.Teacher_box{
    background: #fff;
    width: 1075px;
    height: 560px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 13px 28px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 13px 28px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 13px 28px 3px rgba(34, 60, 80, 0.2);
}
.Teacher_box_header{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    background: linear-gradient( #DA165E 100%, #162B47 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 36px;
}
.Teacher_box_idicator{
    display: block;
    width: 50px;
    height: 10px;
    background: linear-gradient(#DA165E 100%, #281AC8 100%);
    margin-left: 48.7%;
    border-radius: 20px;
}
.Teacher_box_swiper{
    height: 370.49px;
    width: 732.93px;
}
.swiper{
    margin-top: 20px;
    width: 900px;
    height: 390.49px;
}
.swiper-slide-teacher{
    background-position: center;
    background-size: cover;
    width: 326px;
    height: 370px;
}
.swiper-slide-teacher img {
    display: block;
    width: 98%;
    height: 74.06%;
    border-style: solid;
    border-color: #bb195a;
}
.swiper-slide-text{
    height: 25.94%;
    width: 100%;
    background: linear-gradient(178.18deg, #DA165E -13.56%, #0F2B46 158.3%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.swiper-slide-text-part{
    width: 160px;
    height: 24px;
    background-color:#ffffff;
    margin-top: 27px;
    border-radius: 3.9951px 3.9951px 11.9853px 11.9853px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #333333;
}
.swiper-slide-subtext{
    margin-top: 5px;
    width: 103.12px;
    height: 8.67px;
    background: #FFFFFF;
    border-radius: 3.9951px 3.9951px 11.9853px 11.9853px;
}
.news{
    margin-top: 55px;
}
.news_header{
    display: flex;
    justify-content: center;
}
.news_header_1{
    background: linear-gradient(180deg, #EB1962 0%, #132B46 100%);
    font-family: Montserrat;
    max-height: 68px;
    min-width: 13.55%;
    transform: skew(-30deg);
    font-style: normal;
    font-weight: bold;
    font-size: 41.3688px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}
.news_header_1_text{
    transform: skew(30deg);
}
.news_header_3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 39.81px;
    line-height: 40px;
    text-align: center;
    margin-top: 25px;
}
.news_subheader{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}
.swiper-news{
    width: 100%;
    height: 430px;
    margin-top: 60px;
    display: flex;
    overflow: hidden ;
}
.swiper-slide-news{
    display: flex;
    justify-content: center;
}
.news-box-border{
    background: linear-gradient(#D01A5C 100%, #1A2B46 100%);
    padding: 0.2rem;
    border-radius: 16.3408px;
    height: 390px;
}
.news-box{
    width: 506.56px;
    background: #FFFFFF;
    box-shadow: 0px 54.4693px 108.939px rgba(0, 0, 0, 0.1);
    border-radius: 16.3408px;
    height: 390px;
    padding-left: 47.2px;
}
.news-box-header{
    padding-top: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15.4206px;
    line-height: 31px;
    color: #333333;
}
.news-box-info{
    display: flex;
}
.news-info-img img{
    width: 172px;
    height: 206px;
    margin-top: 17px;
}
.news-info-button{
    width: 174.36px;
    height: 59.97px;
    background: linear-gradient(180.5deg, #DB195D -15.22%, #3B284A 121.91%);
    border-radius: 137.293px;
    margin-top: 13px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15.1022px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #fff;
    text-decoration: none;
}
.news-info-header{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 26.1453px;
    background: linear-gradient( #DE195E 40%, #1E2B47 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.news-info-text{
    margin-top: 17px;
    margin-left: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13.0726px;
    line-height: 31px;
    color: #333333;
}
.map{
    display: flex;
    margin-top: 100px;
    margin-bottom: 20px;
}
.map_header{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #333333;
}
.map_part1{
    width: 50%;
    text-align: center;
}
.map_part2{
    width: 50%;
    text-align: center;
}
.map_uz{
    margin-top: 25px;
    margin-left: 1.3%;
    margin-right: 1.3%;
    border: inset #DE195E;
    box-shadow: 12px 12px 2px 1px rgba(248, 15, 73, 0.2);
}
.map_ru{
    margin-top: 25px;
    margin-right: 1.3%;
    margin-left: 1.3%;
    border: outset #DE195E ;
    box-shadow: 12px 12px 2px 1px rgba(248, 15, 73, 0.2);
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    background-color: black;
    height: 171px;
    color: white;
}
.social-net{
    color: #fff;
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15.0726px;
    margin-right: 10px;
}
.social-net-img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.KrAC-logo{
    width: 524px;
    height: 92px;
}
.footer_social_box{
    margin-left: 28px;
}
.About_teacher_box{
    width: 100%;
}
.About_teacher{
    width: 100%;
    background: url(/img/TeacherBG.svg);
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-position-y: -73px;
    height: auto;
}
.About_teacher_box{
    padding-top: 22px;
    width: 97%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}
.about_teacher_text{
    color: #333;
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17.073px;
    width: 90%;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 2.5%;
}
.About_img_Teacher_Text{
    margin: 0 auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 40%;
    border-radius: 20px;
}
.About_img_Teacher_button{
    background-color:#10375c;
    height: 34px;
    margin-top: -4px;
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teacher_ab_img{
    width: 100% !important;
}
.teacher_img_box{
    height: auto;
    border-radius: 15%;
    width: 24.62%;
    overflow: hidden;
    margin: 0 auto;
    border: solid;
    border-color: #b21d5a;
}
@media (max-width: 1921px) {
    .box{
        width: 79.1%;
        margin-left: 10.4%;
        margin-right: 10.4%;
    }
    .aboutButton{
        width: 12.2%;
    }
    .aboutcourse{
        background-position-x: 115px;
        background-position-y: 65px;
    }
    .courseButton{
        width: 15%;
    }
    .header_1{
        width: 25.67%;
    }
    .Grand_button{
        height: 45px;
    }
    .news-box{
        width: 450.56px;
        padding-left: 30.2px
    }
}
@media (max-width: 1249px) {
    .teacher_img_box {
        width: 30.62%;
    }
    .About_img_Teacher_Text {
        width: 50%;
    }
}
@media (max-width: 791px) {
    .teacher_img_box {
        width: 36.62%;
    }
    .about_teacher_text {
        font-size: 17.073px;
        width: 94%;
    }
}
@media (max-width: 685px) {
    .about_teacher_text {
        font-size: 16.073px;
        width: 94%;
    }
    .teacher_img_box {
        width: 50.62%;
    }
    .About_teacher {
        background-position-y: -154px;
    }
}
@media (max-width: 501px) {
    .About_img_Teacher_Text {   
        font-size: 14px;
    }
}
@media (max-width: 449px) {
    .About_img_Teacher_Text {
        width: 45%;
        font-size: 14px;
    }
    .About_img_Teacher_button {
        height: 25px;
        font-size: 13px;
    }
    .about_teacher_text {
        font-size: 15.073px;
    }
    .About_img_Teacher_Text {   
        font-size: 12px;
        width: 60%;
    }
    .teacher_img_box {
        width: 70.62%;
    }
}
@media (max-width: 300) {
    .about_teacher_text {
        font-size: 13.073px;
    }
}
@media (max-width: 1601px) {
    .news-box {
        width: 400.56px;
        padding-left: 15.2px;
    }
    .news-info-text{
        margin-top: 15px;
        margin-left: 15px;
    }
}
@media (max-width: 1441px) {
    .box {
        width: 83.1%;
        margin-left: 8.4%;
        margin-right: 8.4%;
    }
    .header_1{
        padding-top: 10px;
        height: 85px;
        font-size: 62px;
    }
    .CourseText{
        margin-top: 60px;
    }
    .aboutcourse {
        background-position-x: 3.47%;
        background-position-y: 98px;
        background-size: 35.69%;
    }
    #courseKorean {
        margin-right: 14.5%;
    }
    #courseEnglish {
        margin-right: 6%;
    }
    #courseChinese {
        margin-right: 4%;
    }
    #courseInst {
        margin-right: 12%;
    }
}
@media (max-width: 1281px) {
    .aboutcourse{
        background-position-y: 154px;
    }
    .aboutCourseTitle{
        font-size: 25px;
    }
    .courseButtontext{
        font-size: 22px;
    }
    .KA_nav_navigation{
        font-size: 13px;
    }
    .header_1{
        font-size: 50px;
    }
    .Grand_button{
        font-size: 15px;
    }
}
@media (max-width: 1186px) {
    .box {
        width: 92.1%;
        margin-left: 3.4%;
        margin-right: 3.4%;
    }
    .courseButtontext {
        font-size: 18px;
    }
    .students_subheader {
        font-size: 16px;
    }
    .students_header {
        font-size: 60px;
    }
    .news-box {
        width: 360.56px;
    }
    .news-info-text {
        line-height: 22px;
    }
}
@media (max-width: 1025px) {
    .KA_nav_navigation {
        width: 28.7%;
    }
    .aboutText {
        font-size: 18px;
    }
    .aboutTitle {
        padding-top: 50px;
    }
    .CourseText {
        margin-top: 50px;
    }
    .aboutCourseTitle {
        font-size: 21px;
    }
    .Student_block {
        width: 70%;
    }
    .Grand {
        margin-left: 10.45%;
        margin-right: 10.45%;
    }
    .news-box {
        width: 300px;
    }
    .news-info-header {
        font-size: 23.145px;
    }
    .news-info-text {
        margin-top: 15px;
        margin-left: 3px;
        font-size: 13.073px;
    }
    .news-info-img img {
        width: 146px;
        height: 173px;
        margin-top: 17px;
    }
    .news-info-button {
        width: 144.36px;
        height: 44.97px;
    }
}
@media (max-width: 961px) {
    .students_header {
        font-size: 50px;
    }
    .KA_nav_button {
        width: 10.1%;
        height: 31px;
    }
    .KA_nav_navigation{
        font-size: 12px;
        width: 31.7%;
    }
    .KA_nav_logo{
        width: 100%;
    }
    .name{
        width: 100%;
        margin-left: 4px;
    }
    .KA_nav_photo {
        width: 375px;
    }
    .aboutTitle{
        font-size: 35px;
    }
    .aboutText{
        font-size: 17px;
    }
    .aboutButtonText{
        font-size: 12px;
    }
    .aboutCourseTitle {
        font-size: 20px;
    }
    .coursebuttonText{
        font-size: 28px;
    }
    .courseButton{
        height: 40px;
        margin-top: 16px;
    }
    .courseButtontext {
        font-size: 16px;
    }
    .header_1 {
        padding-top: 6px;
        height: 60px;
        font-size: 44px;
    }
    .headedr_2_text{
        font-size: 30px;
    }
    .header_2_subtext{
        font-size: 19px;
        margin-top: 10px;
    }
    .students_subheader{
        font-size: 14px;
        text-align: center;
    }
    .header_2_subtext{
        margin-top: -8px;
        font-size: 17px;
    }
    .students_header{
        font-size: 50px;
    }
    .Grand_header{
        font-size: 44px;
    }
    .Grand{
        margin-right: 4.45%;
    }
    .Grand_text{
        margin-top: 25px;
        font-size: 15px;    
    }
    .Grand_button {
        height: 40px;
        font-size: 15px;
    }
    .swiper{
        width: 890px;
    }
    .Teacher_box{
        width: 920px;
        height: 535px;
    }
    .news_header_1{
        font-size: 24.369px;
        line-height: 43px;
        margin-right: -14px;
    }
    .news_header_2{
        height: 61px;
    }
    .news_header_3{
        font-size: 24.81px;
        line-height: 34px;
        margin-left: -13px;
    }
    .news_subheader{
        font-size: 20px;
    }
    .swiper-news{
        margin-top: 30px;
    }
    .news-box{
        width: 270.56px;
        padding-left: 6.2px;
        height: 332px;
    }
    .news-box-header{
        padding-top: 10px;
        font-size: 13.421px;
    }
    .news-info-button {
        width: 143.36px;
        height: 30.97px;
        margin-top: 0px;
    }
    .news-info-header {
        font-size: 17.145px;
        margin-bottom: 10px;
    }
    .news-info-text{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 12.073px;
        line-height: 13px;
    }
    .news-box-border{
        height: 333px;
    }
    .news-info-img img{
        width: 144px;
        height: 202px;
        margin-top: -6px;
    }
    .swiper-news{
        height: 350px;
    }
    .map{
        margin-top: 20px;
    }
    .map_header{
        font-size: 32px;
    }
    .map_ru {
        margin-top: 10px;
    }
    .map_uz {
        margin-top: 10px;
    }
    .KrAC-logo {
        width: 430px;
    }
    .social-net{
        font-size: 13.073px;
        margin-right: 8px;
    }
    .social-net-img {
        width: 15px;
        height: 15px;
        margin-right: 4px;
    }
    .footer{
        height: 150px;
    }
}
@media (max-width: 811px) {
    .box {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .aboutTitle {
        font-size: 30px;
        margin-left: 2%;
    }
    .aboutText {
        width: 42.45%;
        font-size: 16px;
        margin-left: 2%;
    }
    .aboutButton {
        width: 14.2%;
        height: 26.93px;
        margin-left: 2%;
    }
    .coursebutton {
        width: 23.1%;
        height: 64px;
    }
    .coursebuttonText {
        font-size: 25px;
    }
    .aboutCourseTitle {
        font-size: 17px;
    }
    .courseButton {
        height: 37px;
    }
    .courseButtontext {
        font-size: 13px;
    }
    .aboutcourse {
        min-height: 430px;
    }
    .Student_block {
        width: 70%;
        height: 328px;
    }
    .header_1 {
        margin-top: 40px;
    }
    .header_2 {
        margin-top: 40px;
    }
    .Student_block_info{
        height: 113px;
    }
    .Grand {
        margin-left: 5.45%;
        background-position-x: 106.47%;
        background-size: 75%;
    }
    .Grand_header {
        font-size: 40px;
    }
    .Grand_text {
        margin-top: 15px;
        font-size: 14px;
    }
    .Grand_button {
        height: 35px;
        font-size: 14px;
        margin-bottom: 0px;
    }
    .Teacher{
        height: 545px;
    }
    .Teacher_box {
        width: 775px;
        height: 510px;
    }
    .swiper {
        width: 770px;
    }
    .swiper-slide-teacher{
        background-position: center;
        background-size: cover;
        width: 250px;
        height: 350px;
    }
    
    .news_header_1 {
        font-size: 21.369px;
        line-height: 40px;
        max-height: 40px;
    }
    .news_header_2 img{
        height: 64px;
    }
    .news_header_3 {
        font-size: 21.81px;
        line-height: 42px;
        margin-left: -16px;
    }
    .news_subheader {
        font-size: 19px;
        line-height: 20px;
    }
    .news-box {
        width: 244.56px;
        padding-left: 4.2px;
        height: 300px;
    }
    .news-info-img img {
        width: 136px;
        height: 192px;
        margin-top: 0px;
    }
    .news-info-button {
        width: 130.36px;
        height: 28.97px;
        margin-top: -2px;
    }
    .news-info-text {
        margin-top: 4px;
        margin-left: 1px;
        font-size: 11.073px;
    }
    .news-info-header {
        font-size: 16.145px;
        margin-bottom: 5px;
    }
    .news-box-border {
        height: 301px;
    }
    .map_header {
        font-size: 27px;
    }
    .map_ru {
        box-shadow: none;
    }
    .map_uz {
        box-shadow: none;
    }
    .footer {
        height: 130px;
        margin-top: 30px;
    }
    .KrAC-logo {
        width: 360px;
        height: 65px;
    }
    .footer_social_box {
        margin-left: 15px;
    }
    .social-net-img {
        width: 12px;
        height: 12px;
        margin-right: 3px;
    }
}
@media (max-width: 452px) {
    .name{
        display: none;
    }
    .logo{
        width: 100%;
    }
    .KA_nav_photo {
        width: 45px;
    }
    .KA_nav_navigation {
        font-size: 10px;
        width: 50.7%;
    }
    .KA_nav_button {
        width: 14.1%;
        font-size: 10px;
        height: 24px;
    }
    .KA_nav {
        height: 50px;
    }
    .aboutTitle {
        font-size: 24px;
        padding-top: 20px;
    }
    .aboutSubTitle {
        margin-left: 21.7%;
        margin-top: 5px;
        font-size: 15px;
    }
    .aboutText {
        width: 43.45%;
        font-size: 11px;
        margin-left: 2%;
        margin-top: 7px;
    }
    .aboutButton {
        width: 15.2%;
        height: 25.93px;
        margin-left: 2%;
        margin-top: 20px;
    }
    .KA_about {
        height: 470px;
    }
    #aboutBox {
        background-position-x: 183%;
        background-position-y: 0%;
        min-height: 470px;
        background-size: 63%;
    }
    .coursebutton {
        width: 31.1%;
    }
    .coursebuttonText {
        font-size: 17px;
    }
    .CourseText {
        margin-top: 10px;
    }
    .aboutCourseTitle {
        font-size: 14px;
    }
    .aboutCourseSubTitle {
        font-size: 12px;
        margin-top: 0px;
    }
    #courseKorean {
        margin-right: 0%;
        margin-left: 28%;
    }
    #courseEnglish {
        margin-right: 0%;
        margin-left: 33%;
        margin-top: 10px;
    }
    #courseChinese {
        margin-right: 0%;
        margin-left: 36%;
        margin-top: 10px;
    }
    #courseInst {
        margin-right: 0%;
        margin-top: 10px;
    }
    .aboutcourse {
        min-height: 330px;
        background-position-y: 84px;
        background-position-x: 0%;
    }
    .aboutButtonText {
        font-size: 11px;
        line-height: 12px;
    }
    .courseButton {
        height: 30px;
        width: 20%;
        margin-top: 14px;
    }
    .courseButtontext {
        font-size: 9px;
    }
    .Student {
        min-height: 550px;
    }
    .header_1 {
        padding-top: 4px;
        height: 30px;
        font-size: 22px;
        margin-top: 20px;
    }
    .Student_block {
        width: 90%;
        height: 235px;
        margin-top: 45px;
    }
    .header_2 {
        margin-top: 20px;
    }
    .headedr_2_text {
        font-size: 20px;
    }
    .header_2_subtext {
        margin-top: -4px;
        font-size: 11px;
    }
    .curved_line{
        width: 101px;
    }
    .students_subheader {
        font-size: 9px;
    }
    .students_header {
        font-size: 30px;
    }
    .Grand {
        margin-left: 2.45%;
        background-position-x: 118.47%;
    }
    .Grand_header {
        font-size: 30px;
    }
    .Grand_text {
        margin-top: 7px;
        font-size: 12px;
    }
    p{
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .Grand_button {
        height: 18px;
        font-size: 12px;
        width: 24%;
        margin-top: 15px;
    }
    .Teacher {
        height: 345px;
    }
    .Teacher_box_idicator {
        margin-left: 45.7%;
    }
    .Teacher_box_header {
        font-size: 25px;
    }
    .Teacher_box {
        width: 98%;
        height: 320px;
    }
    .swiper {
        width: 98%;
        height: 180.49px;
    }
    .swiper-slide-teacher{
        background-position: center;
        background-size: cover;
        width: 120px;
        height: 168px;
    }
    .swiper-slide-text-part {
        width: 67%;
        height: 16px;
        margin-top: 10px;
        font-size: 11px;
    }
    .swiper-slide-subtext {
        margin-top: 5px;
        width: 28.12px;
        height: 3.67px;
    }
    .news-box {
        width: 120px;
        padding-left: 3.2px;
        height: 250px;
    }
    .news-box-border {
        height: 251px;
    }
    .news-box-header {
        padding-top: 9px;
        font-size: 9.421px;
        line-height: 12px;
    }
    .news-info-img img {
        display: none;
    }
    .news-info-button {
        width: 58.36px;
        height: 15.97px;
        margin-top: 190px;
        margin-left: 47%;
        font-size: 10.102px;
    }
    .news-info-header {
        font-size: 12.145px;
        margin-bottom: 5px;
        line-height: 10px;
    }
    .news-info-text {
        margin-top: 4px;
        margin-left: 1px;
        font-size: 10.073px;
        line-height: 8px;
        margin-left: -55px;
    }
    .map_header {
        font-size: 14px;
    }
    .social-net {
        font-size: 10.073px;
        margin-right: 1px;
    }
    .KrAC-logo {
        width: 200px;
        height: 40px;
    }
    .footer_social_box {
        margin-left: 7px;
    }
    .footer {
        height: 90px;
        margin-top: 15px;
    }
}
@media (max-width: 373px) {
    .KA_nav_navigation {
        font-size: 10px;
        width: 61.7%;
    }
    .aboutTitle {
        font-size: 20px;
        padding-top: 10px;
    }
    .aboutText {
        width: 61.45%;
        font-size: 12px;
    }
    .aboutButton {
        width: 21.2%;
    }
    .coursebutton {
        width: 34.1%;
    }
    #courseKorean {
        margin-right: 0%;
        margin-left: 28%;
    }
    .aboutCourseTitle {
        font-size: 13px;
    }
    #courseEnglish {
        margin-left: 35%;
    }
    #courseChinese {
        margin-left: 35.5%;
    }
    #courseInst {
        margin-right: 7%;
    }
    .courseButton {
        height: 28px;
        width: 24%;
    }
    .Grand_text {
        width: 36.3%;
    }
    .Grand_button {
        width: 27%;
        margin-top: 10px;
    }
    .news-box-border {
        height: 250px;
    }
    .news-box {
        width: 108px;
        padding-left: 1.2px;
        height: 250px;
    }
    .map_header {
        font-size: 13px;
    }
    .KrAC-logo {
        width: 170px;
        height: 30px;
    }
    .footer {
        height: 80px;
    }
}
@media (max-width: 353px) {
    .aboutCourseTitle {
        font-size: 11px;
    }
    .aboutText {
        width: 61.45%;
        font-size: 11px;
    }
    .aboutSubTitle { 
        font-size: 14px;
    }
    .aboutTitle {
        font-size: 19px;
    }
    .map_header {
        font-size: 11px;
    }
}
@media (max-width: 333px) {
    .news-box {
        width: 97px;
    }
}